body { background-color: #ededed; }

.pad-top {padding-top: 30px;}

h1, h2, h3, h4 {
  font-family: 'adelle', sans-serif;
}

h1 {
  padding-top: 140px;
  font-size: 6em;
  line-height: .9em;
  font-weight: bold;
}

.col-md-3 h2 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: -20px;
  margin-top: -10px;
}

.col-md-3 h3 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

h2 a { text-decoration: none; }

p {
  font-family: 'adelle', sans-serif;
}
ul {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 50px;
}

#plate {
  background-image: url(../graphics/chart.png);
  width: 500px;
  min-height: 500px;
  margin-left: 50px;
}

.house {
  width: 400px;
  margin: 0 auto;
}

footer {
  margin-top: 10px;
  padding: 20px 0px 40px 0px;
  border-top: 1px solid #dadada;
}

li {
  list-style-type: none;
  float: left;
  width: 80px;
  height: 50px;
  margin: 10px;
  text-align: center;
}

li:hover {
/*  background-color: #ccc;*/
  font-weight: bold;
  color: #777;
}

#fruit, #veg, #grain, #meat, #milk, #seafood {
  background-size: 70px 70px;
  background-position: 5px 0px;
  background-repeat: no-repeat;
  line-height: 1.2em;
  text-align: center;
  padding-top: 80px;
}

#fruit { background-image: url(../graphics/icon_5254.svg); }
#fruit:hover, #fruit:active { background-image: url(../graphics/icon_5254_1.svg); }
#veg { background-image: url(../graphics/icon_23999.svg); }
#veg:hover, #veg:active { background-image: url(../graphics/icon_23999_1.svg); }
#grain { background-image: url(../graphics/icon_4138.svg); }
#grain:hover, #grain:active { background-image: url(../graphics/icon_4138_1.svg); }
#meat { background-image: url(../graphics/icon_5965.svg); }
#meat:hover, #meat:active { background-image: url(../graphics/icon_5965_1.svg); }
#milk { background-image: url(../graphics/icon_1701.svg); }
#milk:hover, #milk:active { background-image: url(../graphics/icon_1701_1.svg); }
#seafood { background-image: url(../graphics/icon_25364.svg); }
#seafood:hover, #seafood:active { background-image: url(../graphics/icon_25364_1.svg); }
